.card {
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px;
    .title {
        font-size: 15px;
        font-weight: bold;
        font-family: sans-serif;
    }
}
.key {
    margin-top: 12px;
    font-weight: bolder;
    text-align: left;
}
.values {
    color: grey;
    text-align: left;
}