.empty-screen {
  padding-top: 10%;
  padding-left: 40%;

  .empty-screen-image {
    img {
        margin-left:25px;
        height: 100px;
    }
  }
}

.empty-screen-text {
  margin-top: 20px;
  font-size: 20px;
  color: #818182;
}
