<header class="main-header">
  <!------Top Nav bar------>
  <nav class="navbar navbar-fixed-top">
    <!--<a class="toggleLogo" (click)="toggleSideNav()">-->
    <!--<img src="../assets/menu.svg" class="xsMenu" [class.active]="!isSelected" [class.inactive]="isSelected">-->
    <!--<img src="../assets/close.svg" class="xsMenu" [class.active]="isSelected" [class.inactive]="!isSelected">-->
    <!--</a>-->
    <!----Top Nav Title-->

    <ul class="nav">
      <li>
        <div style="margin-top: 4px;">
          <button class="btn" type="button" (click)="logout();">
            <img src="../../csr/assets/combined-shape.svg"/>
          </button>
        </div>
      </li>
    </ul>
  </nav>
</header>

<!--<aside class="respSideNav" [class.enabled]="isSelected" [class.disabled]="!isSelected">-->
<!--<section class="sidebar">-->
<!--<ul class="sidebar-menu tree">-->
<!--<li class="treeview logoImgSec">-->
<!--<a href="/">-->
<!--<img src="../assets/resp_logo.svg" class="resp-logo-img">-->
<!--</a>-->
<!--</li>-->
<!--<li class="treeview">-->
<!--<a href="#" routerLinkActive="active-link">-->
<!--<img src="../assets/product-black.svg" class="sidenav-img">-->
<!--<span>Overview</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="treeview">-->
<!--<a routerLink="/transactions" routerLinkActive="active-link">-->
<!--<img src="../assets/faq-black.svg" class="sidenav-img">-->
<!--<span>Transactions</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="treeview">-->
<!--<a href="#" routerLinkActive="active-link">-->
<!--<img src="../assets/payments.svg" class="sidenav-img">-->
<!--<span>Upload data</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="treeview">-->
<!--<a href="#" routerLinkActive="active-link">-->
<!--<img src="../assets/graphic.svg" class="sidenav-img">-->
<!--<span>Charts</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="treeview">-->
<!--<a href="#" routerLink="/settings" routerLinkActive="active-link">-->
<!--<img src="../assets/settings-1.svg" class="sidenav-img">-->
<!--<span>Settings</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->
<!--</aside>-->
