.title {
  font-size: 15px;
}

  .modal-header {
    background-color: #98d0f324;
    padding: 10px 25px;
  }

  .modal-dialog {
    margin-top: 200px;
    max-width: 950px !important;
  }

  .modal-body {
    .header {
      font-size: 10px;
      font-weight: 900;
      font-family: sans-serif;
    }

    .filename {
      font-size: 12px;
      width: 300px;
      margin: 5px 0 20px 0;
    }

    .checkbox {
      margin: 0 10px 15px 0;
    }
  }

  .fields {
    display: inline-block;
    font-size: 12px;
  }

  .select-all-checkbox {
    margin-top: 10px;
    height: 50px;

    .card-body {
      padding: 0.90rem !important;
    }

    input {
      margin-right: 20px;
    }
  }